<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="height:1500px">



<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid" style="background-color:#1A838A">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><p style="color:#e5e5e5">Achmad Fikri Adidharma</p></a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="#"><p style="color:#e5e5e5">Home</p></a></li>
      <li class="active"><a href="#"><p style="color:#e5e5e5">My Project</p></a></li>
      <a href="https://www.instagram.com/"><img class="img", src="https://i.pinimg.com/originals/63/9b/3d/639b3dafb544d6f061fcddd2d6686ddb.png" alt="Kitchen Farm" style="width:5%;"></a>
      <a href="https://www.linkedin.com/"><img class="img", src="https://cdn.iconscout.com/icon/free/png-512/linkedin-32-114604.png" alt="recover" style="width:4%;"></a>
      </ul>
    </div>
   
</nav>
<br>
<br>
<br>

<div class="container-fluid" style="margin-top:50px;background-color:#87D0C9">
  <p style="font-size:40px;font-family:'Courier New';text-align:center"> MY PROJECT </p>
  <div class="row">
    <div class="col-md-6">
      <img class="img", src="{% static 'kitchenfarm.jpg' %" alt="kitchenfarm" style="width:100%;border-radius:100%;margin-top:20px;margin-bottom:20px;">
      <div class="row">
      	<div class="col-md-12">
        	<p style="font-size:20px;font-family:'Courier New';"> Kitchen Farm </p>
            <div class="row">
                <div class="col-md-4">
                	<p style="font-size:16px;font-family:'Courier New';"> Team Mate : Ezra and Meutia</p>
                </div>
                <div class="col-md-8">
                	<p style="font-size:16px;font-family:'Courier New';"> We proposed our idea, a subscription based grocery shopping using a mobile platform. We proposed our idea in business plan competition held by Faculty of Economics Sriwijaya University. We going through the final round and turns out we get best presentation award.</p>
                </div>
            </div>          
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img class="center", src="{% static 'kitchenfarm.jpg' %" alt="recover" style="width:100%;border-radius:100%;margin-top:20px;margin-bottom:20px;">
      <div class="row">
      	<div class="col-md-12">
        	<p style="font-size:20px;font-family:'Courier New';"> Re-Cover </p>
            <div class="row">
                <div class="col-md-4">
                	<p style="font-size:16px;font-family:'Courier New';"> Team Mate : Bregas and Safira</p>
                </div>
                <div class="col-md-8">
                	<p style="font-size:16px;font-family:'Courier New';"> We realize we have to raise public awareness to this pandemic. That's why we propose an idea, an mobile application to help us track our travel history, in case we got infected by Covid-19. Also this application will give us a sign about places that most likely would be a cluster.</p>
                </div>
            </div>          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color:#87D0C9">
	<p style="font-size:16px;font-family:'Courier New';text-align:center"><a href="https://www.figma.com/proto/tmO3Y3WKNfi8B0vFlaXG5U/Sketch-awal?node-id=0%3A1&scaling=scale-down">click here</a></p><p style="font-size:16px;font-family:'Courier New';text-align:center"> to see my latest project prototype </p>
</div>
</body>
</html>
