<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Story Fikri</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body class="body">

<nav class="navbar navbar-expand-lg navbar-fixed-top" style="background-color: #1A838A;">
  <div id="navsymbol">
    <a class="navbar-brand" href="#abt" id="foto-kecil" >
      <img src="{% static 'fotonavbar.png' %}" alt="" id="foto-kecil" style="width: 2 vw; height: 2vw;">
    </a>
    <a class="navbar-brand " href="https://www.linkedin.com/in/fikriadidharma/" target="_blank">
      <img src="{% static 'linkedintr.png' %}" alt="" class="ikon" id="" style="width: 2 vw; height: 2vw;">
    </a>
    <a class="navbar-brand " href="https://www.linkedin.com/in/fikriadidharma/" target="_blank">
      <img src="{% static 'instagramz.png' %}" alt="" class="ikon" id="" style="width: 2vw; height: 2vw;">
    </a>
    <a class="navbar-brand" href="mailto:achmadfkradd@gmail.com" target="_blank">
      <img src="{% static 'gmailz.png' %}" alt="" id="" class="ikon" style="width: 2vw; height: 2vw;">
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon" id="tombol-nav"></span>
</button>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
    <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link txt-ikon" href="#abt" style="color: #EDF2F4">About <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link txt-ikon" href="#edu" style="color: #EDF2F4">Education</a>
        <a class="nav-item nav-link txt-ikon" href="#exp" style="color: #EDF2F4">Experiences</a>
        <a class="nav-item nav-link txt-ikon" href="#contact" style="color: #EDF2F4">Contact</a>
    </div>
</div>

</nav>


<div id="awal" style="background-color: #9fd7d1;height:100% ">
  <div class="container-fluid" style="
    padding-top: 15vw;padding-left: 12vw;padding-right: 12vw;padding-bottom: 15vw;"  >
    <div class="col-md-4 col-xs-12" >
      <img class="img", src="{% static 'mukague.png' %}" alt="fikri" style="width: 20 vw; height: 20vw;border-radius:100;">
    </div>
    <div class="col-md-8 col-xs-12"> 
      <p style="font-size: 1.7vw;font-weight: bold;line-height: 1.7vw; font-family: Arial, sans-serif">
        <br>Hi! It's Achmad Fikri Adidharma, Sophomore at University of Indonesia.<br>Ready to get to know me more?
    </p>
      
    </div>
</div>
</div>

<div id = "abt"  style="background-color:#87D0C9;height:100%;color: #2B2D42;">
  <div class="container-fluid" style="
  padding-top: 15vw;padding-left: 12vw;padding-right: 12vw;padding-bottom: 15vw;"  >

    <div class="col-md-4 col-xs-12">
      <img class="img", src="https://maung.id/static/cc16d9d49c300d023343d2d76a23659c/32ee9/KR01.jpg" alt="Fikri" style="width: 20 vw; height: 20vw;"> 
    </div>
    <div class="col-md-8 col-xs-12"> 
      <p style="text-align:justify;font-size: 1.7vw;font-family:Arial, Helvetica, sans-serif;">
      <br>
     I am a highly motivated sophomore computer science student. I'm excited to learn new things not only limited to my major in
computer science. I am currently interested to data analytics and business consulting. Hence, I decide to join business club and took
some online courses related to piqued my curiousity. I'm a forever learner and I eager and enjoy to do things on my job.
</p>     
    </div>
</div>
</div>


<div id = "edu" style="background-color:#9FD7D1;height:100%">
  <div class="container-fluid" style="
 padding-top: 5vw;padding-left: 12vw;padding-right: 12vw;padding-bottom: 15vw;" >
   <div class="col-md-4 col-xs-12"> 
    </div>
    <div class="col-md-4 col-xs-12">
      <p style="font-size:36px;font-family:'Courier New';"><b>  Education</b></p>
      <img class="img", src="{% static 'educ.png' %}" alt="edication" style="width:20 vw; height: 30vw;">    
    </div>
    <div class="col-md-4 col-xs-12"> 
      <br><br>
      <p style="font-size: 1.7vw;font-family:Arial, Helvetica, sans-serif">SMPN 3 Jember<br>SMAN 1 Jember<br>S1 Ilmu Komputer Universitas Indonesia</p>
    </div>
  </div>
</div>


<div id = "exp" style="background-color:#87D0C9;height:100%">
 <div class="container-fluid" style="padding-top: 5vw;padding-left: 12vw;padding-right: 12vw;padding-bottom: 15vw;" >

   
    <p style="font-size: 1.7vw;font-family:Arial, Helvetica, sans-serif"></p>
    <div class="col-md-4 col-xs-12">
      <br><br> 
      <p style="font-size: 1.7vw;font-family:Arial, Helvetica, sans-serif;text-align:right"><b>Staff of Bazaar</b><br> PERAK FASILKOM UI<br><b>Member of Business Intelligence SIG</b><br>SISTEM FASILKOM UI<br><b>Staff of Event</b><br> PMB FASILKOM UI</p>
      </div>
      <div class="col-md-4 col-xs-12">
        <p style="font-size: 2.7vw;font-family:Arial, Helvetica, sans-serif;text-align: center;"><b>  Experience</b></p><br>
      <img class="img", src="{% static 'ppwwww.png' %}" alt="pengalaman" style="width:20 vw; height: 30vw;">   
      </div>
      <div class="col-md-4 col-xs-12">  
      </div>
  </div>
</div>

<div id = "contact" style="background-color:#9FD7D1;height:100%">
  <div class="container-fluid" style="
  padding-top: 15vw;padding-left: 12vw;padding-right: 12vw;padding-bottom: 15vw;" >

  <p style="font-size: 1.7vw;font-family:Arial, Helvetica, sans-serif; text-align: center;"><b>Contact Me At</b></p>
   <div class="col-md-3 col-xs-12"> 
 
    </div>
    <div class="col-md-6 col-xs-12">
      <p style="font-size: 1.7vw;font-family:Arial, Helvetica, sans-serif;text-align: center;">Instagram : @fikriadidharma<br>LinkedIn : achmad fikri adidharma<br>Email : achmad.fikri91@ui.ac.id</p>    
    </div>
    <div class="col-md-3 col-xs-12">  
    </div>
</div>
</div>

</body>
</html>
