@media all{
  .navbar .nav-item:hover .nav-link{ background: #2E9299;
      border: 0.6vw solid #65F3E6;
      border-radius: 0vw;
      font-size: 1.7vw;
    }
  .navbar .nav-item {background: #2E9299;
      border: 0.5vw solid #65F3E6;
      border-radius: 0.1vw;
      font-size: 1.7vw;
    }
    html {
      scroll-behavior: smooth;
    }
